apiVersion: v1
kind: Secret
metadata:
  name: ${VM_ID}
  namespace: default
data:
  NODE_ENV: <"production", base64>
  MONGODB_URI: <get from MongoDB Atlas>
  AWS_ACCESS_KEY_ID: <get from AWS>
  AWS_SECRET_ACCESS_KEY: <get from AWS>
  BROKER_URL: <get from CloudAMQP>
  SENTRY_DSN: <get from Sentry>
type: Opaque
